{% extends "layout.html" %}

{% block title %}
    Book-search
{% endblock %}

{% block body %}
   

 <h1>Book Review</h1>
    <hr>

    <h4>{{bookDetails1.title}}</h4>
    <p>Author : {{bookDetails1.author}}</p>
    <p>ISBN  : {{bookDetails1.isbn}}</p>
    
     <hr>
         <form class="justify-content-center" action="" method="post">


        <!-- <div class="form-group col-lg-3">
            <input class="form-control" type='text' name="review" placeholder="enter your review here">
            
        </div> -->

        <div class="form-group">
            <label for="review">Review</label>
            <textarea class="form-control" type="text" name="review" id="review" rows="3" placeholder="enter your review"></textarea>
        </div>
            <div class="form-group col-lg-3"><button class="form-control btn btn-primary">submit</button>
        </div>

    </form>
    <hr>

{% endblock %}